.color {
     color: red;
     font-size: 18px;
     padding: 17px;
 }
.reader {
      color: deepskyblue;
      font-size: 18px;
      padding: 17px;
}
.rsewder {
    color: yellowgreen;
    font-size: 22px;
    padding-bottom: 17px;
    padding-left: 25px;
}