body {
     color: darkslateblue;
     text-decoration-color: red;
     font-size: 18px;
     padding: 17px;
 }
p {
    color: red;
    font-size: 28px;
}
span {
    color: darkmagenta;
    text-transform: uppercase;
}
a {
      color: darkcyan;
      font-size: 20px;
}
.rsewder {
    color: yellowgreen;
    font-size: 22px;
    padding-bottom: 17px;
    padding-left: 25px;
}
eqwder {
    color: yellow;
    font-size: 22px;
    padding-bottom: 17px;
    padding-left: 25px;
}